#newArrival {
  width: 100vw;
  margin: auto;
  margin-top: 3rem;
}
#newArrival .container{
    width: 90% !important;
}
#newArrival .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
#newArrival .row .col {
  min-width: 250px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
  overflow: hidden;
}
#newArrival .row .col:hover {
  transform: none;
}
#newArrival .row .col:hover img {
  transform: translateY(-20px);
  transition: all 0.35s linear;
}
#newArrival .row .col > img {
  width: 100%;
}
#newArrival button {
  background-color: #fff000;
  color: #000;
  font-size: 1.1rem;
  text-transform: capitalize;
  border: 2px solid #fff000;
  transition: all 0.35s ease;
  font-weight: normal;
}
#newArrival button:hover {
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  text-transform: capitalize;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #newArrival .row {
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 425px) {
  #newArrival {
    padding: 0 !important;
    margin: 0 !important;
    width: 95%;
  }
}
