@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,700;0,900;1,600;1,800;1,900&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.35s ease;
}

body {
  padding: 0 !important;
  padding-top: 1rem !important;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--f1);
}

:root {
  --f1: "Jost", sans-serif;
  --f2: "Poppins", sans-serif;
}

.carousel-item {
  height: 700px !important;
  width: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.gallery {
  width: 90%;
  margin: 4rem auto;
  padding: 15px;
  background-color: #fff;
}

.gallery > .row {
  padding: 0;
  width: 100%;
}

.gallery .row .col {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 15px;
  box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease;
  overflow: hidden;
}

.gallery .row .col:hover img {
  transition: all 0.35s ease;
  transform: scale(1.1);
}

.gallery .row .col > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 600px;
  }
  .gallery {
    width: 100%;
    margin: 3rem auto;
  }
  .gallery-min {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .gallery {
    width: 100%;
    margin: 0 auto;
  }
  .gallery .row .col {
    height: 100px;
    margin: 5px;
    box-shadow: 5px 5px 7px 0.5px rgba(0, 0, 0, 0.2);
  }
  .gallery .row .col > img {
    border-radius: 0.5rem;
  }
  .carousel-item {
    height: 200px !important;
    width: 100%;
  }
}
#newArrival {
  width: 100vw;
  margin: auto;
  margin-top: 3rem;
}

#newArrival .container {
  width: 90% !important;
}

#newArrival .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

#newArrival .row .col {
  min-width: 250px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
  overflow: hidden;
}

#newArrival .row .col:hover {
  transform: none;
}

#newArrival .row .col:hover img {
  transform: translateY(-20px);
  transition: all 0.35s linear;
}

#newArrival .row .col > img {
  width: 100%;
}

#newArrival button {
  background-color: #fff000;
  color: #000;
  font-size: 1.1rem;
  text-transform: capitalize;
  border: 2px solid #fff000;
  transition: all 0.35s ease;
  font-weight: normal;
}

#newArrival button:hover {
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  text-transform: capitalize;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #newArrival .row {
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 425px) {
  #newArrival {
    padding: 0 !important;
    margin: 0 !important;
    width: 95%;
  }
}
#about {
  width: 90%;
  margin: auto;
  padding: 7rem 0 5rem;
}

#about .about-row-1 {
  margin-top: 1rem;
}

.about-gallery,
.about-content {
  width: 50%;
}

#about .about-gallery .row {
  width: 50%;
}

#about .about-gallery .row .col-12 {
  height: 250px;
  border-radius: 30px !important;
}

#about .col-12 img {
  border-radius: 10px !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-content .para {
  color: grey;
  font-size: 1rem;
}

.about-content .btn {
  background-color: #fff000;
  color: #000;
  border: 2px solid transparent;
  transition: all 0.35s ease;
}

.about-content .btn:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #about {
    width: 100%;
    margin: auto;
    padding: 4rem 0 5rem !important;
  }
  #about .about-row-1 {
    margin-top: 0.5rem;
    flex-wrap: wrap !important;
    flex-direction: column-reverse;
  }
  .about-content,
  .about-gallery {
    width: 100%;
  }
}
.categories {
  padding-top: 6rem;
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
}

.sub-head {
  color: #000;
  font-style: italic;
  position: relative;
}

.h2-line {
  position: absolute;
  height: 4px;
  width: 100px;
  border-radius: 20px;
  right: 41%;
  bottom: -4px;
  background: linear-gradient(120deg, #000000, rgba(72, 72, 72, 0.431372549), rgba(255, 255, 255, 0));
  transform: rotate(-3deg);
}

.categories .row .col-md-3 > img {
  box-shadow: 4px 4px 10px 0.5px rgba(0, 0, 0, 0.3215686275);
}

.cloth-btn {
  margin-top: 1.5rem;
  background-color: #fff000;
  color: #000;
  font-size: 1rem;
  text-transform: capitalize;
  border: 2px solid transparent;
  box-shadow: 4px 4px 10px 0.5px rgba(0, 0, 0, 0.3215686275);
  transition: all 0.35s ease;
}

.cloth-btn:hover,
.cloth-btn:focus {
  border: 2px solid #000000;
  color: #000;
  letter-spacing: 1px;
}

@media (max-width: 425px) {
  .cloth-btn {
    font-size: 0.7rem;
    padding: 5px 15px;
  }
  .cloth-btn:hover,
  .cloth-btn:focus {
    border: 2px solid #fff000;
    color: #000;
  }
}
#contact {
  padding-top: 5rem;
  width: 80%;
  margin: auto;
  color: #000;
}

#contact .line {
  margin-bottom: 5rem !important;
  width: 90%;
  height: 2px;
  border-radius: 20px;
  margin: auto;
  background-color: #868686;
}

.contact-1 .row .col-12 {
  height: 400px;
}

.contact-1 .row .col-12 iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .con {
    flex-direction: column;
  }
  .con > .row {
    margin-top: 2rem !important;
  }
  #contact {
    padding-top: 5rem;
    width: 90%;
    margin: auto;
    color: #000;
  }
  .contact-1 .fw-bold {
    font-size: 1.5rem;
  }
}
.sub-head {
  font-family: var(--f1) !important;
  font-weight: bold;
  color: #000;
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
}

.para {
  font-family: var(--f2);
  font-size: 1.1rem;
  color: #3b3b3b;
}

.navbar {
  width: 100vw;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  box-shadow: 8px 8px 10px 0.5px rgba(0, 0, 0, 0.2431372549);
}

.navbar-brand .h2 {
  font-family: var(--f2);
  color: #fff !important;
}

.nav-item > .nav-link {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  margin: 0 5px;
  position: relative;
}

.nav-item > .nav-link.active {
  color: #ffff00;
  font-size: 1.1rem;
  margin: 0 5px;
}

.nav-item > .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 100%;
  left: 0;
  background: #ffff00;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.nav-item > .nav-link:hover {
  color: #ffff00;
}

.nav-item > .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.social-media {
  border-left: 2px solid #6c6c6c;
  padding-top: 8px;
  padding-left: 15px !important;
}

.brand-icon:hover {
  color: rgb(255, 234, 0) !important;
}

#clear {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 2.5rem;
  display: none;
}

.nav-line {
  width: 100%;
  height: 2px;
  margin: auto;
  color: #fff;
  background-color: #7f7f7f;
  display: none;
}

.nav-contact {
  display: none;
}

.nav-contact > a {
  color: #ffff00 !important;
}

.hover-box {
  position: fixed;
  top: 50%;
  right: 0%;
  z-index: 1000;
  transform: translate(-50%);
  text-orientation: upright;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #212121;
  background-color: #fffc30;
  padding: 15px 12px 5px;
  box-shadow: -7px 7px 15px 0.5px rgba(0, 0, 0, 0.368627451);
  cursor: pointer;
  transition: all 0.35s ease;
}

.hover-box:hover {
  background-color: rgb(255, 153, 0);
  color: #fff;
}

.hover-box > h5 {
  font-weight: bold;
  font-size: 0.8rem;
}

footer {
  padding-top: 3rem;
  background-color: #000;
}

.footer-icon {
  color: #ffff00;
  cursor: pointer;
}

footer .footer-icon {
  transform: none;
}

footer .row .col-md-4:hover {
  box-shadow: 0px 0px 8px 0.5px rgba(255, 255, 255, 0.3960784314);
  background-color: #fff;
}

footer .row .col-md-4:hover .footer-icon,
footer .row .col-md-4:hover .text {
  color: #000;
}

footer .row .col-md-4 {
  transition: all 0.35s ease;
}

.home-card {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.home-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .navbar-brand .h2 {
    margin-left: 0;
  }
}
@media (max-width: 1000px) {
  .social-media {
    border: none;
  }
  #navbarText {
    position: fixed;
    left: -1200px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.959);
    width: 100%;
    padding: 5rem 0 0 3rem;
    min-height: 100vh;
    transition: all 0.35s ease;
  }
  #navbarText.nav-active {
    position: fixed;
    left: 0;
    top: 0;
  }
  .nav-item > .nav-link,
  .nav-item > .nav-link.active {
    font-size: 1.5rem;
    margin: 7px 5px;
  }
  #clear {
    display: block;
  }
  .social-media {
    padding-left: 0 !important;
    margin-top: 2rem;
    padding-top: 1rem !important;
  }
  .social-media .brand-icon {
    font-size: 2rem !important;
  }
  .nav-line,
  .nav-contact {
    display: block;
  }
}
@media (max-width: 425px) {
  .sub-head {
    font-size: 1.7rem;
  }
  .para {
    font-family: var(--f2);
    font-size: 1rem;
    color: #3b3b3b;
  }
  .container-fluid {
    padding: 0 0.4rem !important;
  }
  .navbar-brand .h2 {
    margin-left: 1rem;
  }
  #navbarText {
    padding: 4.5rem 0 0 1rem;
  }
  .nav-item > .nav-link,
  .nav-item > .nav-link.active {
    font-size: 1.2rem;
    margin: 15px 5px;
  }
  .brand-icon {
    font-size: 1.5rem !important;
  }
  #clear {
    font-size: 2rem;
  }
  .social-media {
    margin-top: 1rem;
    padding: 5px 0 !important;
  }
  .social-media .brand-icon {
    font-size: 1.6rem !important;
  }
  .hover-box {
    top: 60%;
    right: -5%;
  }
  .copyright {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */